/*
Colors used:
Primary Color (soft pink): #E1C5C5;
Secondary Color (soft brown): #ADA0A0;
Tertiary Color (fluffy pink): #F8E5E5
Text Color (Dark Gray): #333030, RGB	51	48	48;
Backgroun Color (white): #F5F5F5; RGB	246	245	245;
Visited link color (red): #ADA0A0
*/


html {
 font-size: 16px;
  width: 100%;
  height: 100%;
  text-align:center;
  color: #FFFFFF;
}


header {
  position: relative;
  width: 100%;
  height: 200px;
  background-color:#F8E5E5;
  padding: 0;
  margin: 0;
  border-bottom: 0.5px solid #F8E5E5;
  text-align: center;
  box-shadow:4px 4px 13px 0px rgba(51, 50, 50, 0.32);
  box-shadow position: relative;

}
.logo {
  text-align: center;
  max-width: 450px;
  max-height: 250px;
  padding: 25px;
  margin: 10px;
}

/* Layout styling */
body {
  background-color: #FFFFFF;
  color: #333030;
  font-family: 'Muli', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300, 400, 700;
  line-height: 1.6;
  display:block;
}

nav> ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
}


nav > ul > li > a:visited {
  color: #333030;
  text-decoration: underline;
}

nav > ul > li > a:hover {
  color:#E1C5C5;
  text-decoration: underline;
}
nav > ul > li > a {
  padding: 25px 15px 15px 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ADA0A0;
}
main {
  text-align: center;
}
.container {
  padding: 0 15px;
  width: 800px;
  margin: 20px;
  text-align:center;
  display: inline-block;
}
.containerCase {
  display: inline-block;
    text-align: center;
}

.about{
  display:block;
  text-align: center;
}
.table {
  margin:0;
  display:inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.column-a {
  display:inline-block;
  padding: 30px;
  text-align:left;
  width:800px;
}
.column-b {
  display:inline-block;
  padding: 30px;
  text-align:center;
  width:400px;
}

p.about {
  font-size: 1.2em;
}
.containerFooter{
  width: 100%;
  height: 300px;
  text-align: center;
  background-color:#FFFFFF;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin: 0 auto;
}


#work.row {
  padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
  text-align:center;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #333030;
  line-height: 1.75em;
  text-align:left;
}
p.contact{
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.75;
}

h1 {
  font-family: 'Muli', sans-serif;
  color: #333030;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: 80px 0px 0px;
}

h2 {
  font-family: 'Muli', sans-serif;
  color: #333030;
  font-size: 1.75em;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-family: 'Muli', sans-serif;
  color: #E1C5C5;
  font-size: 1.50em;
  font-weight: 400;
  text-align: center;
}

img {
  width: 100%;
}
.myphoto{
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

a:link {
  color: #ADA0A0;
  font-family: 'Muli', sans-serif;
  text-decoration: none;

}

a:visited {
  color: #8A7777;
  font-family: 'Muli', sans-serif;
  text-decoration: underline;
}

a:hover {
  color: #8A7777;
  font-family: 'Muli', sans-serif;
  text-decoration: underline;
}

a:active {
  color: #ADA0A0;
  font-family: 'Muli', sans-serif;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #F6F5F5;
  color: #ADA0A0;
  /* needed to override the default link color */
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  padding: 20px;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none color:#34496b;
  font-family: 'Muli', sans-serif;
  padding: 20px;
}

.button.contact:hover {
  background-color: #f8e5e5;
  color:#ADA0A0 !important;
  font-family: 'Muli', sans-serif;
  padding: 20px;
}
